.external {
	color: blue;
}

/* CSS Syntax and terminology
	.external => is the selector, selectors are used to choose which html elements we'll apply the style
	 _______________
	|.external {    |
	|color: blue;   | This is the declaration block
	|}              |
	|_______________|

   ----->property
	color: blue; => is a declaration(style rules), written using a property(color) and value(blue) pair
          ---->value
*/

/* Shorthand and longhand properties (extends to other properties)

   padding-top: 10px;     |
   padding-right: 5px;    | Longhand 
   padding-bottom: 10px;  |
   padding-left: 5px;     |

   padding: 10px 5px;     | Shorthand
*/

/* CSS Values and Units
	There are a lot of types of values:
	1) Numeric values without units => unitless values.
	2) Numeric values with units.
	3) Absolute length values => fixed units, always the same size.
	4) Relative length.
	Functions can be used as values for properties. 
*/

/* Color and property values
	Hexadecimal
	¨¨¨¨¨¨¨¨¨¨¨
	Case insentive => #FFFFFF == #ffffff
	colors => #ff(red)ff(green)ff(blue)
	Shorthand => #f00;
	Longhand => #ff000000;

	rgb()
	¨¨¨¨¨
	Can be with numbers or percentage values
	rgb(0, 255, 140) or rgb(0%, 50%, 100%)

	rgba()
	¨¨¨¨¨¨
	Alpha to change opacity
	rgba(0, 255, 50, 0.5) => 50% opacity

*/

/* Typography for the web
	Typography: arranging type for readability and to engage and communicate with the reader
	Typeface 
	¨¨¨¨¨¨¨¨
	A set of fonts designed with common characteristics, composed of glyphs
	There are five categories of of typefaces: script, decorative, monospace, serif, sans-serif
	Script => headlines or small decorative text details
	Decorative => ornamental
	Monospace => displaying code
	Serif => traditional and formal
	Sans-serif => contemporary and modern
*/

/* Changing font-family:
	¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
	Declaring a font stack(fonts that will be used in your project):
	body {
		font-family: Helvetica, Arial, sans-serif; 
	}
	Declare in preference order

	Changing font-weight:
	¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
	font-weight: 100; is the lightest or thinnest
	.
	.
	.
	font-weight: 900; is the darkest or thickest

	Web fonts with @font-face:
	¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
	Import fonts from the web:
	@font-face {
		font-family: "My font";
		src: url("my-font.woff"); #relative path
		src: url("http://example.com/fonts/my-font.woff"); #absolute path
	}

	The font-size:
	¨¨¨¨¨¨¨¨¨¨¨¨¨¨
	px: pixels, it's an absolute value, great for accuracy
	em: relative unit, relative to parent
	rem:  relative unit, only relative to the root element

	Text decoration:
	¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
	It's the underline
	text-decoration: underline red solid;  | shorthand

	text-decoration-line: underline;       |
	text-decoration-color: red;            | londhand
	text-drcoration-syle: solid;           |

	Text align:
	¨¨¨¨¨¨¨¨¨¨¨
	Can be used to align content within a block element

	Line height:
	¨¨¨¨¨¨¨¨¨¨¨¨
	Sets the height of the space between two lines of text
*/

/*
	Good guide for coding HTML and CSS: https://codeguide.co
*/