.big-box {
	border: 2px solid black;
	margin: 10px;
}
.blue-box {
	border: 2px solid black;
	background: lightblue;
	float: left;
	margin: 10px;
	padding: 13px;
}
.clear {
	clear: both; /* With clear property you can unfloat an element around other */
}
.fix-with-overflow {
	overflow: hidden;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}

/* Layouts and the box model
   The box model fix
   ¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
   Change box-sizing from content-box to border-box, this way we include the padding and boder space within the dimensions set with width
   and height properties
   To use this fix add:
    html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
*/

/* Position
   Used to change the document flow, same thing as float.
   5 types:
   static => not positioned
   relative => relative to current position
   absolute => relative to containing element
   fixed => relative to the viewport 
   sticky => relative to containing element and viewport
   Can be used with: top, right, bottom and left properties

   Z-index
   ¨¨¨¨¨¨¨
   Defines the element order in z axis
   Higher value => higher position in the stack
   Lower value => lower position in the stack
*/