/* Global styles 
-----------------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	color: #343434;
	margin: 0; /* Removes edges on webpage */
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5; /* Makes line height one and a half times the size of the font size */
}
a {
	color: #FFE660;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-size: 100px;
	line-height: 1;
}
h2 {
	font-size: 45px;
}
h1, h2 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0; /* Removes extra space causing top to be bigger than bottom */
}
.content-wrap {
	width: 800px;
	margin: 0 auto;
	padding: 60px 0; /* 60px to top and bottom and 0 px to left and right */
}
h3 {
	margin-bottom: 0;
}
.item-details h3 + p {
	font-style: italic;
}
.item-details h3 ~ p {
	margin: 0;
}
.divider > section {
	border-bottom: 1px dashed #343434;
	padding: 25px 0;
}
.divider > section:last-of-type {
	border-bottom: none;
}

/* Profile 
-----------------------------*/
header {
	background: #2F3061;
	color: #F7FFF7;
	text-align: center;
}

/* Projects 
-----------------------------*/
.projects {
	background: #F7FFF7;
}
.projects a {
	color: #2F3061;
}
.projects .btn {
	color: #F7FFF7;
	background: #2F3061;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	display: inline-block; /* Change to inline-block to prevent invading other spaces */
}
.projects .btn:hover {
	background: rgba(47, 48, 97, 80%);
}
.project-item {
	overflow: hidden;
}
.project-item img {
	float: left;
	margin-right: 20px;
}
.project-item h3 {
	margin-top: 0;
}

/* Work Experience 
-----------------------------*/
.work-experience {
	background: #A1C6D7;
}
.job-item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 20px;
}

/* Education 
-----------------------------*/

/* Social Media 
-----------------------------*/
footer {
	background: #343434;
	color: #F7FFF7;
	text-align: center;
}
.contact-list li {
	padding: 15px;
	display: inline-block;
}
.contact-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

/* Many people like to reset CSS to remove default styles from elements, like margins and paddings 
   If want to know more about reset style sheet check out: cssreset.com and https://meyerweb.com/eric/tools/css/reset/
*/