/* Global styles 
-----------------------------*/
body {
	color: #343434;
	margin: 0; /* Removes edges on webpage */
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
a {
	color: #FFE660;
}
a:hover {
	text-decoration: none;
}
h2 {
	margin: 0; /* Removes extra space causing top to be bigger than bottom */
}
h1, h2 {
	font-family: 'Caveat', cursive;
}
.content-wrap {
	width: 800px;
	margin: 0 auto;
	padding: 60px 0; /* 60px to top and bottom and 0 px to left and right */
}

/* Profile 
-----------------------------*/
header {
	background: #2F3061;
	color: #F7FFF7;
}

/* Projects 
-----------------------------*/
.projects {
	background: #F7FFF7;
}
.projects a {
	color: #2F3061;
}
.projects .btn {
	color: #F7FFF7;
	background: #2F3061;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	display: inline-block; /* Change to inline-block to prevent invading other spaces */
}
.projects .btn:hover {
	background: rgba(47, 48, 97, 80%);
}

/* Work Experience 
-----------------------------*/
.work-experience {
	background: #A1C6D7;
}

/* Education 
-----------------------------*/

/* Social Media 
-----------------------------*/
footer {
	background: #343434;
	color: #F7FFF7;
}

/* Many people like to reset CSS to remove default styles from elements, like margins and paddings 
   If want to know more about reset style sheet check out: cssreset.com and https://meyerweb.com/eric/tools/css/reset/
*/